article, footer, p, h1, h2, h3, h4, h5, li, a:not(.katex *) {
  font-family: "Noto Sans SC" !important;
}

.notice.note {
  blockquote {
    margin-left: 0;
    font-style: normal;
    border-left-width: 5px;
  }
  summary>:first-child {
    display: inline;
  }
}