@font-face {
  font-family: 'Latin Modern Roman';
  src: url('../fonts/lmroman10-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Latin Modern Roman';
  src: url('../fonts/lmroman10-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

a, footer, h1, h2, h3, h4, h5, h6, article:not(.katex *, .notice-content *){
  font-family: "Noto Sans SC" !important;
}

.notice.note {
  blockquote {
    margin-left: 0;
    font-style: normal;
    border-left-width: 5px;
  }
  summary>:first-child {
    display: inline;
  }
}

.explain .explain-text{
  display:none;
  font: inherit;
  margin-top:6px;
  padding:6px 8px;
  white-space:pre-wrap;
}
.explain:hover .explain-text,.explain:focus-within .explain-text{display:inline}